# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual env
.venv/
env/
venv/

# VSCode / IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.*

# __pycache__ בכל מקום
**/__pycache__/

# macOS
.DS_Store

# PyCharm
*.iml
*.ipr
*.iws

# MyPy / Pyright / pytest cache
.mypy_cache/
.pytest_cache/
.pyright/

# Dist
dist/
build/
*.egg-info/
